
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1440px;
  padding: 0 21px;
  margin: auto;
  font-family: "Montserrat", arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  width: 100%;
  max-width: 1240px;
  min-width: 240px;
  height: 223px;
  margin: auto;
  margin-top: 63px;
  margin-bottom: 43px;
  position: relative;
}
.banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 30%;
  background: black;
}
.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.banner__text {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 48px;
}

@media (max-width: 768px) {
  .banner {
    height: 111px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .banner__image, .banner__bg {
    border-radius: 10px;
  }
  .banner__text {
    font-size: 24px;
    justify-content: left;
    padding: 0 16px;
  }
}
.logement {
  width: 100%;
  max-width: 1240px;
  min-width: 250px;
  height: 100%;
  border-radius: 25px;
  margin: auto;
  background-color: #E5E5E5; /* F6F6F6 */
}
.logement__list {
  margin: 0;
  padding: 56px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 56px;
  column-gap: 50px;
}
.logement__list__content {
  width: 340px;
  height: 340px;
  position: relative;
}
.logement__list__content__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.logement__list__content__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.logement__list__content__name {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

@media (max-width: 425px) {
  .logement {
    background-color: transparent;
  }
  .logement__list {
    padding: 0px;
    row-gap: 20px;
  }
  .logement__list__content__bg {
    height: 98%;
  }
}
@media (max-width: 768px) {
  .logement__list__content {
    width: 100%;
    min-width: 240px;
    max-width: 700px;
    height: 100%;
    min-height: 100px;
    max-height: 500px;
  }
  .logement__list__content img {
    object-fit: cover;
  }
}
.header {
  width: 100%;
  max-width: 1240px;
  min-width: 200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: flex;
  gap: 57px;
}
.header__link__active {
  text-decoration: underline;
}
.header__link a {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
  color: black;
}

@media (max-width: 768px) {
  .header__logo {
    width: 30%;
  }
  .header__link {
    gap: 10px;
  }
  .header__link a {
    font-size: 12px;
  }
}
.footer {
  margin-top: 100px;
  background-color: black;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 22px;
}
.footer img {
  width: 122px;
}
.footer p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}
.error h1 {
  font-size: 288px;
  font-weight: 700;
  line-height: 410.69px;
  color: #FF6060;
  text-align: center;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  color: #FF6060;
  text-align: center;
}
.error a {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-decoration: underline;
  margin-top: 16px;
  color: black;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .error h1 {
    font-size: 190px;
  }
}
@media (max-width: 425px) {
  .error h1 {
    margin-top: 100px;
    line-height: 200px;
    font-size: 100px;
  }
  .error p {
    font-size: 18px;
    line-height: 25px;
  }
  .error a {
    font-size: 14px;
    line-height: 20px;
  }
}
